<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="reg.css"  rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <center>
    <form action="/action_page.php">
        <div class="container">
            <fieldset>
                <legend><b><stronge> Team Register</stronge></legend>
          
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="email"><b>Names</label>
          <input type="text" placeholder="Enter Your Names" name="names" id="names" required>

          <label for="email"><b>player ID</label>
          <input type="text" placeholder="Enter Your Id" name="ID" id="names" required>

          <label for="email"><b>Ages</label>
          <input type="text" placeholder="Enter Your ages" name="age" id="names" required>

          <label for="email"><b>Nationality</label>
          <input type="text" placeholder="Enter Your  Nationality" name="Nationality" id="names" required>

          <label for="email"><b>player position</label>
          <input type="text" placeholder="Enter Your  position" name="position" id="names" required>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>

          <label for="email"><b>phone number</b></label>
          <input type="text" placeholder="Enter your number" name="phn" id="phn" required>
      
          <label for="text"><b>Matual status</b></label>
          <input type="text" placeholder="Enter  Your status" name="stutas"  id="st" required>
      
          <label for="text"><b>On Loan</b></label>
          <input type="text" placeholder=" Enter Your loan" name="onloan" id="onloan" required>
          <hr>

          <label for="text"><b>Date Of Birth</b></label>
          <input type="date" placeholder=" Enter Your Date Of Birth" name="day" id="day" required>
          <hr>

          <button type="submit" class="registerbtn">Register</button>

          <p>if you have an account? <a href="index.html"> Sign in</a>.</p>
      
        
      </form>
      <center>
</body>
</html>