<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="table.css" rel="stylesheet">
    <title>tables</title>
</head>
<body> 

   <center> <table borde="0" cellpadding="5" cellspacing="5">
        <table  border ="1"  bgcolor ="#ddf">
            <fieldset>
                <legend><b><stronge><center> TEAM PALYER  TABLE </center></stronge></legend>
                <label for="Tournament">Tournament</label>
                <select id="Tournament" name="Tournament">
                  <option value="australia">Rwanda</option>
                  <option value="canada">Kenya</option>
                  <option value="usa">Burundi</option>
                  <option value="usa">maroc</option>
                  <option value="usa">Uganda</option>
                  <option value="usa">zambiya</option>
                </select>
                </center>
         <tr>
         <th>ID</th>
        <th> PLAYER NAMES </th>
         <th>PLAYER POSITION</th>
         <th>YELLOW CARDS</th>
         <th>RED CARDS</th>
         <th>GOALS</th>
         <th>GAME PLAYED</th>
    
         </tr>
         <tr>
         <td> 09</td>
         <td>MUKUNZI Yannick</td>
         <td>5</td>
         <td>Red Card</td>
         <td>2 yellow card</td>
         <td>5</td>
         <td>secafa kagame cup</td>
        
        </tr>
        <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
         
        </tr>

        <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
           
           </tr> 

           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
           
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
           
           </tr>

           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
          
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
          
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
           
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
          
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
           
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
           
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
            
           </tr>
           <tr>
            <td> 09</td>
            <td>MUKUNZI Yannick</td>
            <td>5</td>
            <td>Red Card</td>
            <td>2 yellow card</td>
            <td>5</td>
            <td>secafa kagame cup</td>
           </tr>
           </table>
        </center>
    <center>

        <button type="Submit Your " class="submit">SUBMIT</button>

        <p>back to the team register <a href="table.html"> Sign in</a>.</p>
</center>
</body>
</html>