<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="">
    <script src=""></script>
  </head>

  <body>
  <center>
  <div style="border:2px #0000000 solid; margin-top:100px; width:500px; height:300px; padding:30px; box-shadow:2px 5px 2px 5px;
  border-radius:5px 5px 5px 5px;">
    <form>
      <p><label for="fname">Firstname:</label> <input type="text" name="user" placeholder="Your Firstname" required></p>
      <p><label for="lname">Lastname:</label> <input type="password" name="pass" placeholder="Your Lastname" required></p>
      <p><label for="email">Email:</label> <input type="password" name="pass" placeholder="Your Email" required></p>
      <p><label for="pass">Password:</label> <input type="password" name="pass" placeholder="Password" required></p>
      <p><label for="confirm">Confirm Password:</label> <input type="password" name="pass" placeholder="Retype password" required></p>
      <p><input type="submit" value="Create" style="margin:;"></p>


  </form>
  </div>
</center>

    </body>
</html>