.submit {
    width: auto;
    padding: 10px 18px;
    background-color: #ddf;
           /* margin-right: 90%; */
           margin-top: 20px;
           margin-left: 5%;
  }
  .th{
    text-align: center;
  }
  .tables{
    width: 40%;
    border: 1px;
  }